# **P1G1 Model Inference** ðŸ”§

### Importing Library

In [47]:
import pandas as pd
import numpy as np

#---------------------------

# preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

#model
from sklearn.linear_model import LinearRegression

#evaluasi
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#open model
import joblib
pd.set_option('max_columns',200)

### Data Loading

In [40]:
df = pd.read_csv('/content/uberandlyft.csv')

In [48]:
inference = df.sample(2)
inference

,short_summary_ Clear,short_summary_ Drizzle,short_summary_ Foggy,short_summary_ Light Rain,short_summary_ Mostly Cloudy,short_summary_ Overcast,short_summary_ Partly Cloudy,short_summary_ Possible Drizzle,short_summary_ Rain,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_UberPool,name_UberX,name_UberXL,name_WAV,cab_type_Lyft,cab_type_Uber,distance1,surge_multiplier1
6602,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.787776,0.0
31650,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.548110,0.0

### Import Model

In [42]:
# Load the saved model using joblib
loaded_model = joblib.load('model_lin_reg.joblib')

In [43]:
inference.shape

(2, 25)

### Prediction

In [51]:
# Apply the loaded model to the new DataFrame
predictions = loaded_model.predict(inference)

# Add the predictions as a new column to the DataFrame
inference['fare_prediction'] = predictions

### Prediction result

In [53]:
print(inference['fare_prediction'])

6602     29.921875
31650    11.438477
Name: fare_prediction, dtype: float64