## 1. Importing Libraries ðŸ’½

In [1]:
import pandas as pd
import numpy as np
import joblib

pd.set_option('display.max_columns', None)

## 2. DATA LOADING ðŸ’½

In [92]:
df = pd.read_csv('/Users/karelhutajulu/Downloads/h8dsft_P1G3_Karel_Hutajulu.csv')

In [59]:
#Display top 10 rows of dataframe df
df.head(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,42.0,1,250,1,15,0,213000.0,1.3,136,0,0,65,1
1,46.0,0,168,1,17,1,271000.0,2.1,124,0,0,100,1
2,65.0,1,160,1,20,0,327000.0,2.7,116,0,0,8,1
3,53.0,1,91,0,20,1,418000.0,1.4,139,0,0,43,1
4,50.0,1,582,1,20,1,279000.0,1.0,134,0,0,186,0
5,70.0,1,125,0,25,1,237000.0,1.0,140,0,0,15,1
6,65.0,1,52,0,25,1,276000.0,1.3,137,0,0,16,0
7,70.0,0,161,0,25,0,244000.0,1.2,142,0,0,66,1
8,60.0,1,76,1,25,0,196000.0,2.5,132,0,0,77,1
9,59.0,1,280,1,25,1,302000.0,1.0,141,0,0,78,1

## 3. Feature Engineering and Predicting

We frist drop unused columns based on RFE result

In [60]:
# Assuming x_train is a Pandas dataframe
selected_cols = df.columns[[0, 4, 11]]
print(selected_cols)

Index(['age', 'ejection_fraction', 'time'], dtype='object')

Get 3 sample data and display the target variable (so we can compare with out prediction)

In [89]:
# Set a random seed for reproducibility
np.random.seed(123)
randomstate = 323123

# Get 5 random samples from the DataFrame
sample_df = df.sample(n=3, random_state=randomstate)

# Select the 'DEATH_EVENT' column and the index
sample_df = sample_df.loc[:, ['DEATH_EVENT']]
sample_df.index.name = 'Index'

# Display the resulting DataFrame
print(sample_df)

       DEATH_EVENT
Index
24               1
19               1
134              0

We will only train using these 3 selected features (Based on RFE)

In [100]:
df = df.loc[:, selected_cols]

Make Inference dataframe have the same rows with our sample_df, this is so that we can compare the result later.

In [95]:
# Select the rows with the specified indices
inference = df.loc[[24, 19, 134], :]

inference

      age  ejection_fraction  time
24   48.0                 30   193
19   57.0                 30    42
134  50.0                 25    90

### Import Models and apply prediction

In [48]:

# Load the saved model using joblib
loaded_model2 = joblib.load('/Users/karelhutajulu/Downloads/standard_scaler (1).pkl')
loaded_model1 = joblib.load('/Users/karelhutajulu/Downloads/rf_model_best (1).pkl')

/Users/karelhutajulu/miniconda3/envs/h8/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator StandardScaler from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/karelhutajulu/miniconda3/envs/h8/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/karelhutajulu/miniconda3/envs/h8/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

Scaling

In [ ]:

# Scale the selected columns using the loaded scaler object
scaled_cols = loaded_model2.transform(inference[cols_to_scale])

# Replace the original columns with the scaled columns in the dataframe
inference[cols_to_scale] = scaled_cols

Predicting

In [ ]:

# Apply the prediction model to the new DataFrame
predictions1 = loaded_model1.predict(inference)


# Add the predictions as a new column to the DataFrame
inference['target_prediction1'] = predictions1

In [99]:
print(inference['target_prediction1'])

24     1
19     1
134    0
Name: target_prediction1, dtype: int64

Result is the same, with the 3 samples we achieved 100% accuracy